<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<router-outlet></router-outlet>

<!-- <div id="background"></div> -->
<div class="header">
    <h1>OptaBet</h1>
</div>
<app-tabs [tabOptions]="tabs" (onTabChange)="showTabInfo($event)"></app-tabs>
<div *ngIf="activeTab == 0">
    <h2>Datos Generales</h2>
    <app-teams-table [tableHeaders]="headers" [tableHeadersHelpers]="headersHelpers" [tableTeams]="teams"></app-teams-table>
</div>
<div *ngIf="activeTab == 1">
    <h2>Estadísticas</h2>
    <div>
        <app-teams-statistics></app-teams-statistics>
    </div>
</div>
<div *ngIf="activeTab == 2">
    <div>
        <h2>Configuración</h2>
    </div>
    <div class="centered-button">
        <button class="btn btn-success bold-button" (click)="doRequestTeamsInfo()"><img src="../assets/images/equipo.png" height="60px">Obtener datos generales de equipos</button>
        <button class="btn btn-primary bold-button" (click)="doRequestMatchesInfo()"><img src="../assets/images/campo-de-futbol.png" height="60px">Obtener datos de los partidos</button>
        <button class="btn btn-danger bold-button" (click)="doRequestStatisticsInfo()"><img src="../assets/images/analitica.png" height="60px">Obtener datos de estadísticas</button>
    </div>
</div>