<router-outlet></router-outlet>

<!-- <button class="btn btn-danger">B</button> -->

<!-- <div id="background"></div> -->
<div class="header">
    <h1>OptaBet</h1>
</div>
<app-tabs [tabOptions]="tabs" (onTabChange)="showTabInfo($event)"></app-tabs>
<div *ngIf="activeTab == 0">
    <h2>Inicio</h2>
    <app-teams-table [tableHeaders]="headers" [tableTeams]="tableTeams"></app-teams-table>
</div>
<div *ngIf="activeTab == 1">
    <h2>Gráficas</h2>
</div>
<div *ngIf="activeTab == 2">
    <div>
        <h2>Configuración</h2>
    </div>
    <div class="centered-button">
        <button class="btn btn-success" (click)="doRequest()">Obtener datos de API</button>
    </div>
</div>